@define-color borders_breeze #c1c5c5;
@define-color content_view_bg_breeze #faffff;
@define-color error_color_backdrop_breeze #a33d3d;
@define-color error_color_breeze #bf0303;
@define-color error_color_insensitive_backdrop_breeze #e5a7a7;
@define-color error_color_insensitive_breeze #e5a7a7;
@define-color insensitive_base_color_breeze #faffff;
@define-color insensitive_base_fg_color_breeze #b4b7b7;
@define-color insensitive_bg_color_breeze #f0f5f5;
@define-color insensitive_borders_breeze #dfe4e4;
@define-color insensitive_fg_color_breeze #aeb1b1;
@define-color insensitive_selected_bg_color_breeze #f0f5f5;
@define-color insensitive_selected_fg_color_breeze #aeb1b1;
@define-color insensitive_unfocused_bg_color_breeze #f0f5f5;
@define-color insensitive_unfocused_fg_color_breeze #aeb1b1;
@define-color insensitive_unfocused_selected_bg_color_breeze #f0f5f5;
@define-color insensitive_unfocused_selected_fg_color_breeze #aeb1b1;
@define-color link_color_breeze #4285f4;
@define-color link_visited_color_breeze #e040fb;
@define-color success_color_backdrop_breeze #306b46;
@define-color success_color_breeze #006e28;
@define-color success_color_insensitive_backdrop_breeze #a3ccb4;
@define-color success_color_insensitive_breeze #a3ccb4;
@define-color theme_base_color_breeze #faffff;
@define-color theme_bg_color_breeze #f0f5f5;
@define-color theme_button_background_backdrop_breeze #f7f7f7;
@define-color theme_button_background_backdrop_insensitive_breeze #fafafa;
@define-color theme_button_background_insensitive_breeze #fafafa;
@define-color theme_button_background_normal_breeze #fafafa;
@define-color theme_button_decoration_focus_backdrop_breeze #ededed;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #f7f7f7;
@define-color theme_button_decoration_focus_breeze #f0f0f0;
@define-color theme_button_decoration_focus_insensitive_breeze #f7f7f7;
@define-color theme_button_decoration_hover_backdrop_breeze #dadad9;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #f0f0f0;
@define-color theme_button_decoration_hover_breeze #dcdcdc;
@define-color theme_button_decoration_hover_insensitive_breeze #f0f0f0;
@define-color theme_button_foreground_active_backdrop_breeze #313639;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #aeb1b1;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #aeb1b1;
@define-color theme_button_foreground_backdrop_breeze #353535;
@define-color theme_button_foreground_backdrop_insensitive_breeze #b4b4b4;
@define-color theme_button_foreground_insensitive_breeze #b4b4b4;
@define-color theme_button_foreground_normal_breeze #333333;
@define-color theme_fg_color_breeze #333333;
@define-color theme_header_background_backdrop_breeze #edf2f2;
@define-color theme_header_background_breeze #f0f5f5;
@define-color theme_header_background_light_breeze #f0f5f5;
@define-color theme_header_foreground_backdrop_breeze #353535;
@define-color theme_header_foreground_breeze #333333;
@define-color theme_header_foreground_insensitive_backdrop_breeze #353535;
@define-color theme_header_foreground_insensitive_breeze #353535;
@define-color theme_hovering_selected_bg_color_breeze #6fb5ff;
@define-color theme_selected_bg_color_breeze #00b4ff;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #323232;
@define-color theme_titlebar_background_backdrop_breeze #3e4147;
@define-color theme_titlebar_background_breeze #36393e;
@define-color theme_titlebar_background_light_breeze #f0f5f5;
@define-color theme_titlebar_foreground_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_breeze #dcdcdc;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_insensitive_breeze #787878;
@define-color theme_unfocused_base_color_breeze #f7fbfb;
@define-color theme_unfocused_bg_color_breeze #edf2f2;
@define-color theme_unfocused_fg_color_breeze #353535;
@define-color theme_unfocused_selected_bg_color_alt_breeze #bee2fa;
@define-color theme_unfocused_selected_bg_color_breeze #bee2fa;
@define-color theme_unfocused_selected_fg_color_breeze #313639;
@define-color theme_unfocused_text_color_breeze #343535;
@define-color theme_unfocused_view_bg_color_breeze #faffff;
@define-color theme_unfocused_view_text_color_breeze #b4b7b7;
@define-color theme_view_active_decoration_color_breeze #969696;
@define-color theme_view_hover_decoration_color_breeze #969696;
@define-color tooltip_background_breeze #505050;
@define-color tooltip_border_breeze #737373;
@define-color tooltip_text_breeze #dcdcdc;
@define-color unfocused_borders_breeze #bfc3c3;
@define-color unfocused_insensitive_borders_breeze #dfe4e4;
@define-color warning_color_backdrop_breeze #a18537;
@define-color warning_color_breeze #b08000;
@define-color warning_color_insensitive_backdrop_breeze #e0d3a6;
@define-color warning_color_insensitive_breeze #e0d3a6;
